:root {
    --vp-c-brand-1: #515ada;
    --vp-c-brand-2: #efd5ff;
}

.VPNavBar {
    backdrop-filter: blur(16px);
    background: rgba(255,255,255,.75);
}

.mermaid {
    display: flex;
    flex-direction: row;
    justify-content: center;
}
.mermaid #Encode_Input p::before {
    content: ' Encode Input';
}
