/*
    Main / Styles
*/

:root {
    --vp-c-brand-1: #515ada;
    --vp-c-brand-2: #efd5ff;
}

.VPNavBar, .VPNavBar .content-body, .VPLocalNav {
    background: transparent !important;
}
.VPNavBar .content-body, .VPLocalNav {
    backdrop-filter: blur(16px) !important;
}

.mermaid {
    display: flex;
    flex-direction: row;
    justify-content: center;
}
.mermaid foreignObject:not(#Encode_Input foreignObject) {
    overflow: visible;
}

/*///////////////////////////////////////////////////////////////*/

/*
    Translations
*/

/* 
    Page: internals/modes/04
*/

/*
    Note: `content` should start with a space (U+0020) and be exactly 13 characters long (including the space at the start).
*/

.mermaid #Encode_Input p::before { /* English */
    content: ' Encode Input';
}
html:lang(ru) .mermaid #Encode_Input p::before { /* Russian */
    content: ' Кодирование ';
}
