:root {
    --vp-c-brand-1: #515ada;
    --vp-c-brand-2: #efd5ff;
}

.VPNavBar, .VPNavBar .content-body, .VPLocalNav {
    background: transparent !important;
}
.VPNavBar .content-body, .VPLocalNav {
    backdrop-filter: blur(16px) !important;
}

.mermaid {
    display: flex;
    flex-direction: row;
    justify-content: center;
}
.mermaid #Encode_Input p::before {
    content: ' Encode Input';
}
